* {
  margin: 0;
  padding: 0;
  font-family: 'Boogaloo', cursive;
}

#root {
  background-color: #e1f5ff;
}

.App {
  max-width: 1550px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  box-shadow: 0 5px 6px #08a05ca4;
  padding: 0 15px;
  box-sizing: border-box;
}

/*--------------HEADER-------------------*/

header {
  width: 97%;
  min-height: 100px;
  max-width: 1530px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  box-sizing: border-box;
  background-color: #E1F5FF;
  box-shadow: 0 5px 10px #c8edff;
  border-radius: 10px;
}

a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: #938DC8;
}

li {
  list-style: none;
}

header ul {
  display: flex;
  padding: 0;
  margin: 0;
}

header ul li {
  padding: 0 1rem;
}

header ul li a {
  font-weight: bold;
}

header .cart {
  position: relative;
  cursor: pointer;
}

header .cart box-icon {
  width: 45px;
  height: 45px;
}

header .cart span {
  position: absolute;
  top: -1rem;
  right: -1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFE07D;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #938DC8;
}

/*--------PRODUCTS--------*/

.title {
  font-size: 2rem;
  text-align: center;
  padding: 10rem 0 0 5rem;
  color: #8881cc;
}

.products {
  padding: 5rem 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 3rem 1rem;
  box-sizing: border-box;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFE07D;
  border: 6px solid transparent;
  border-radius: 20px;
}

.product:hover {
  border: 6px solid #faca2f;
}

.product_img img {
  width: 200px;
}

.product_footer {
  padding: 1rem;
}

.product_footer h1 {
  font-weight: 600;
  font-size: 1, 5rem;
  color: #938DC8;
  font-family: 'Boogaloo', cursive;
}

.product_footer p {
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  font-size: 18px;
}

.product_footer .price {
  font-size: 2rem;
  color: #938DC8;
}

.product .buttom {
  width: 100%;
  height: 45px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem 2rem;
}

.buttom .btn {
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
}

.buttom button {
  background-color: #E290B6;
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  color: #cc1369;
  font-weight: 200;
}

.buttom div {
  background-color: #938DC8;
  display: grid;
  align-items: center;
  text-align: center;
  margin-left: -2rem;
  border-radius: 5px;
}

.buttom div a {
  color: #4835f3;
  font-weight: 200;
}

.buttom div a:hover {
  color: #ffffff;
}


/*------ media-----*/
@media only screen and (max-width: 600px) {
  header ul {
    display: none;
  }
}